body {
  height: 100vh;
  background-image: url(../images/lost-woods.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

aside h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #100170;
  text-shadow: 0 0 2px #100170;
}

main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.logo-container,
.life-container,
.accuracy-container,
.games-container {
  display: flex;
  flex-direction: column;
}

.logo-container {
  width: 100%;
  background-image: url(../images/title-logo.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  flex-basis: 20%;
}

.life-container {
  flex-basis: 15%;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
}

.heart-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.heart {
  flex-basis: 18%;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.full {
  background-image: url(../images/heart-full.png);
}

.half {
  background-image: url(../images/heart-half-full.png);
}

.empty {
  background-image: url(../images/heart-empty.png);
}

.accuracy-container {
  flex-basis: 25%;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.accuracy-meter {
  flex-basis: 80%;
  width: 30%;
  background-color: #2d3336;
  border: 10px solid white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 0 8px #100170;
}

.accuracy {
  height: 20%;
  width: 100%;
  border: 5px solid #2d3336;
  background-color: #22c32a;
  border-radius: 20px;
  transition: height 1s;
}

.card {
  height: 28%;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.025);
}

.card-front, .card-back {
  height: 100%;
  width: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 10px;
  border: 5px ridge #e3ad07;
}

.card-back {
  background-image: url(../images/triforce.png);
  background-color: #2d3336;
  background-size: 50%;
}

.agahnim {
  background-image: url(../images/agahnim.png);
  background-size: 55%;
  background-color: #e8c070;
}

.eyegore {
  background-image: url(../images/eyegore.png);
  background-size: 55%;
  background-color: #907a2a;
}

.ganon {
  background-image: url(../images/ganon.png);
  background-size: 80%;
  background-color: #b83010;
}

.gibdo {
  background-image: url(../images/gibdo.png);
  background-size: 45%;
  background-color: #f89849;
}

.link {
  background-image: url(../images/link.png);
  background-size: 47%;
  background-color: #41d870;
}

.stalfos {
  background-image: url(../images/stalfos.png);
  background-size: 40%;
  background-color: #506fc7;
}

.sword-soldier {
  background-image: url(../images/sword-soldier.png);
  background-size: 50%;
  background-color: #9d89ee;
}

.uncle {
  background-image: url(../images/uncle.png);
  background-size: 50%;
  background-color: #f0d840;
}

.zelda {
  background-image: url(../images/zelda.png);
  background-size: 45%;
  background-color: #e29292;
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.modal {
  background-color: #2d3336;
  border-radius: 10px;
  border: 5px ridge #e3ad07;
  width: 35%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modal > h3 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0 1rem;
  font-family:'Press Start 2P', cursive;;
  color: white;
  text-shadow: 0 0 3px #100170;
}

.modal > button {
  font-size: 1rem;
  padding: .5rem;
  border-radius: 5px;
  border: none;
  font-family: 'Press Start 2P', cursive;
  transition: all .2s ease-in-out;
  box-shadow: 0 0 3px #100170;
  background-color: #8f6d04;
}

.modal > button:hover {
  transform: scale(1.1);
  background-color: #e3ad07;
}

.modal-win-image {
  background-image: url(../images/link-w-triforce.png);
  flex-basis: 40%;
}

.modal-fail-image {
  background-image: url(../images/dead-link.png);
  flex-basis: 25%;
}

#modal-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
    width: 30%;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
}

#gameboard {
  height: 88%;
}



.hidden {
  display: none;
}
